.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.App-header {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

#reader {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.ScannerComponent {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  
}

input[type="text"] {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

input[type="number"] {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

select {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .ScannerComponent {
    padding: 10px;
  }

  label {
    font-size: 16px;
  }

  input[type="text"] {
    font-size: 14px;
    width: 50%;
  }
  input[type="number"] {
    font-size: 14px;
    width: 50%;
  }

  select {
    font-size: 14px;
    width: 50%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }
  select {
    font-size: 14px;
    width: 100%;
  }

  input[type="text"], button {
    font-size: 14px;
    width: 100%;
    padding: 8px;
  }

  input[type="number"] {
    font-size: 14px;
    width: 100%;
    padding: 8px;
  }
}